<h1>Listing Friends</h1>

<table>
  <tr>
    <th>Email</th>
    
  </tr>

<% @friends.each do |friend| %>
  <tr>
    <td><%= friend.email %></td>    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Friend', new_friend_path %>